html {
    height: 100%;
}
body {
    background-color: #ECECEC;
}
footer {
    position: fixed;
    bottom: 0;
    height: 150px;
}
div.name-card {
    flex-grow: column;
}

#pfp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}